*.pyc
*.dat
TAGS
*.egg-info
*.egg
build
.coverage
.coverage.*
.tox
cover
venv
.venv
*.sublime-workspace
*.sqlite
*.sqlite3
var/*
etc/designate/*.conf
AUTHORS
ChangeLog
doc/source/api/*
doc/build/*
dist
designate/versioninfo
*.orig
*.DS_Store
*.idea
/bind9
/dnsmasq
.testrepository/*
contrib/vagrant/.vagrant/
