
# Python related files

*.dat
*.egg*
*.pyc
TAGS
build

# Test related files

*.log
.coverage
.coverage.*
.tox
.venv
cover
flake8_results.html
functionaltests/.testrepository/
functionaltests/tempest.log
htmlcov/
venv

# Files created by releasenotes build
releasenotes/build

# Editors

*.sublime-workspace
*.swp

# Misc

*.DS_Store
*.idea
*.ipynb
*.orig
.stestr/
*.sqlite
*.sqlite3
/.ipynb_checkpoints/*
/bind9
/dnsmasq
AUTHORS
ChangeLog
contrib/vagrant/.vagrant/
designate/versioninfo
dist
doc/source/_static/*.sample
doc/build/*
doc/source/api/*
api-ref/build/*
etc/designate/*.conf.sample
etc/designate/*.yaml
var/*
