*.pyc
*.dat
TAGS
*.egg-info
*.egg
build
.coverage
.tox
cover
venv
.venv
*.sublime-workspace
*.sqlite
var/*
etc/moniker/*.conf
etc/moniker/*.ini
AUTHORS
ChangeLog
doc/source/api/*
doc/build/*
dist
moniker/versioninfo
*.orig
/bind9
