dumb-init
jaeger-client
python-memcached
pymemcache
redis
raven
paste

git+https://github.com/sapcc/openstack-watcher-middleware.git#egg=watcher-middleware
git+https://github.com/sapcc/openstack-audit-middleware.git@master#egg=audit-middleware
git+https://github.com/sapcc/dnspython.git@stable/2024.2-m3#egg=dnspython
