include AUTHORS
include ChangeLog
include designate/versioninfo
include *.txt *.ini *.cfg *.rst *.md
include etc/designate/*.sample
include etc/designate/policy.json
include designate/storage/impl_sqlalchemy/migrate_repo/migrate.cfg
include designate/backend/impl_powerdns/migrate_repo/migrate.cfg
recursive-include designate/resources *
recursive-include tools *

exclude .gitignore
exclude .gitreview
exclude *.sublime-project
global-exclude *.pyc
