include AUTHORS
include ChangeLog
include moniker/versioninfo
include *.txt *.ini *.cfg *.rst *.md
include etc/*.sample
include etc/policy.json

exclude .gitignore
exclude .gitreview
exclude *.sublime-project
global-exclude *.pyc
