d2to1>=0.2.10,<0.3
pbr>=0.5,<0.6
Flask>=0.8
eventlet
jsonschema>=0.8,<1
ipaddr
Paste
PasteDeploy
stevedore
cliff

SQLAlchemy>=0.7.8,<=0.7.9
sqlalchemy-migrate>=0.7.2
kombu

# Needed for Keystone Middleware
python-keystoneclient>=0.2.0

# From OpenStack Common
routes>=1.12.3
iso8601>=0.1.4
WebOb>=1.0.8
extras
