coverage>=3.6
discover
flake8==2.0
fixtures>=0.3.14
hacking>=0.8,<0.9
mock>=1.0
mox>=0.5.3
pep8==1.4.5
pyflakes>=0.7.2,<0.7.4
python-subunit
testtools>=0.9.32
testrepository>=0.0.8
testscenarios>=0.4
WebTest>=2.0
