[composite:osapi_dns]
use = egg:Paste#urlmap
/: osapi_dns_app_versions
/v1: osapi_dns_v1

[app:osapi_dns_app_versions]
paste.app_factory = moniker.api.versions:factory

[composite:osapi_dns_v1]
use = call:moniker.api.auth:pipeline_factory
noauth = noauthcontext faultwrapper_v1 osapi_dns_app_v1
keystone = authtoken keystonecontext faultwrapper_v1 osapi_dns_app_v1

[app:osapi_dns_app_v1]
paste.app_factory = moniker.api.v1:factory

[filter:faultwrapper_v1]
paste.filter_factory = moniker.api.v1:FaultWrapperMiddleware.factory

[filter:noauthcontext]
paste.filter_factory = moniker.api.auth:NoAuthContextMiddleware.factory

[filter:keystonecontext]
paste.filter_factory = moniker.api.auth:KeystoneContextMiddleware.factory

[filter:authtoken]
paste.filter_factory = keystoneclient.middleware.auth_token:filter_factory
service_protocol = http
service_host = 127.0.0.1
service_port = 5000
auth_host = 127.0.0.1
auth_port = 35357
auth_protocol = http
admin_tenant_name = %SERVICE_TENANT_NAME%
admin_user = %SERVICE_USER%
admin_password = %SERVICE_PASSWORD%
