{% extends "horizon/common/_modal_form.html" %}
{% load i18n horizon humanize %}

{% block form_id %}{% endblock %}
{% block form_action %}{% url 'horizon:project:dns_domains:create_record' domain.id %}{% endblock %}

{% block modal_id %}create_record_modal{% endblock %}
{% block modal-header %}{% trans "Create Record for" %} {{ domain.name }}{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  {% blocktrans %}
  <p>
     <strong>Please note:</strong>
    For record types, the name <strong>must</strong> end with a period.
  </p>
  <p>
    <strong>TTL</strong>
    The TTL is the time-to-live for the record, in seconds.
  </p>
  <p>
    See <a href="http://en.wikipedia.org/wiki/List_of_DNS_record_types" target="_designate_record_defs">more info</a> on record types.
  </p>
  {% endblocktrans %}
{% endblock %}
