{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}update_record_form{% endblock %}
{% block form_action %}{% url 'horizon:project:dns_domains:update_record' record.domain_id record.id %}{% endblock %}

{% block modal-header %}{% trans "Update Domain Record" %}{% endblock %}

{% block modal-body %}
  <div class="full">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
  </div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Update Domain Record" %}" />
  <a href="{% url 'horizon:project:dns_domains:records' record.domain_id %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
