[DEFAULT]
# Show more verbose log output (sets INFO log level output)
verbose = True

# Show debugging output in logs (sets DEBUG log level output)
debug = False

# Address to bind the API server
api_host = 0.0.0.0

# Port the bind the API server to
api_port = 9001

#
logging_context_format_string = %(asctime)s %(levelname)s %(name)s [%(request_id)s %(user)s %(tenant)s] %(instance)s %(message)s

#
control_exchange = moniker

#
allowed_rpc_exception_modules = moniker.exceptions, moniker.openstack.common.exception

#
auth_strategy = noauth
