[DEFAULT]
# Show more verbose log output (sets INFO log level output)
verbose = True

# Show debugging output in logs (sets DEBUG log level output)
debug = False

#
logging_context_format_string = %(asctime)s %(levelname)s %(name)s [%(request_id)s %(user)s %(tenant)s] %(instance)s %(message)s

#
control_exchange = moniker

#
state_path = ./var/

#
templates_path = ./templates/

#
allowed_rpc_exception_modules = moniker.exceptions, moniker.openstack.common.exception
