setuptools-git>=0.4
unittest2
nose
openstack.nose_plugin
nosehtmloutput
mox
mock
sphinx
sphinxcontrib-httpdomain
# Optional Stuff that is used by default
SQLAlchemy>=0.7.8,<=0.7.9
sqlalchemy-migrate>=0.7.2
kombu

# Needed for Keystone Middleware
python-keystoneclient>=0.2.0
Flask>=0.8
eventlet
https://github.com/Julian/jsonschema/archive/870869b4e6b210fac66823bd2c1ca103dc9eb9d9.tar.gz#egg=jsonschema
ipaddr
Paste
PasteDeploy
stevedore
cliff

# From OpenStack Common
routes>=1.12.3
iso8601>=0.1.4
WebOb>=1.0.8
extras
