#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv \
	      --no-test \
	      --preinstall ${PIP_VERSION_PIN:-"pip==7.1.2"} \
	      --preinstall ${SETUPTOOLS_VERSION_PIN:-"setuptools==18.2"} \
	      --skip-install
