*.pyc
*.dat
TAGS
*.egg*
build
.coverage
.tox
cover
venv
.venv
*.sublime-workspace
*.sqlite
var/*
etc/*.conf
etc/*.ini
AUTHORS
ChangeLog
doc/source/api/*
doc/build/*
dist
designate_ext_samplehandler/versioninfo
