[DEFAULT]
########################
## General Configuration
########################
# Show more verbose log output (sets INFO log level output)
verbose = True

# Show debugging output in logs (sets DEBUG log level output)
debug = False

# Top-level directory for maintaining designate's state
#state_path = /var/lib/designate

# Log directory
#logdir = /var/log/designate

# Driver used for issuing notifications
#notification_driver = designate.openstack.common.notifier.rabbit_notifier

# Use "sudo designate-rootwrap /etc/designate/rootwrap.conf" to use the real
# root filter facility.
# Change to "sudo" to skip the filtering and just run the comand directly
root_helper = sudo

########################
## Service Configuration
########################
#-----------------------
# Central Service
#-----------------------
[service:central]
# Driver used for backend communication (e.g. fake, rpc, bind9, powerdns)
#backend_driver = fake

# List of blacklist domain name regexes
#domain_name_blacklist = \.arpa\.$, \.novalocal\.$, \.localhost\.$, \.localdomain\.$, \.local\.$

# Accepted TLDs
# This is a local copy of the list at
# http://data.iana.org/TLD/tlds-alpha-by-domain.txt
#accepted_tlds_file = tlds-alpha-by-domain.txt

# Effective TLDs
# This is a local copy of the list at http://publicsuffix.org/list/
# This contains domain names that effectively act like TLDs e.g. co.uk or tx.us
#effective_tlds_file = effective_tld_names.dat

# Maximum domain name length
#max_domain_name_len = 255

# Maximum record name length
#max_record_name_len = 255

#-----------------------
# API Service
#-----------------------
[service:api]
# Address to bind the API server
#api_host = 0.0.0.0

# Port the bind the API server to
#api_port = 9001

# Authentication strategy to use - can be either "noauth" or "keystone"
#auth_strategy = noauth

# Enable Version 1 API
#enable_api_v1 = True

# Enable Version 2 API (experimental)
#enable_api_v2 = False

# Enabled API Version 1 extensions
#enabled_extensions_v1 = diagnostics, quotas, reports, sync, touch

#-----------------------
# Keystone Middleware
#-----------------------
[keystone_authtoken]
#auth_host = 127.0.0.1
#auth_port = 35357
#auth_protocol = http
#admin_tenant_name = service
#admin_user = designate
#admin_password = designate

#-----------------------
# Agent Service
#-----------------------
[service:agent]
# Driver used for backend communication (e.g. bind9, powerdns)
#backend_driver = bind9

#-----------------------
# Sink Service
#-----------------------
[service:sink]
# List of notification handlers to enable, configuration of these needs to
# correspond to a [handler:my_driver] section below or else in the config
#enabled_notification_handlers = nova_fixed

########################
## Storage Configuration
########################
#-----------------------
# SQLAlchemy Storage
#-----------------------
[storage:sqlalchemy]
# Database connection string - to configure options for a given implementation
# like sqlalchemy or other see below
#database_connection = sqlite:///$state_path/designate.sqlite
#connection_debug = 100
#connection_trace = False
#sqlite_synchronous = True
#idle_timeout = 3600
#max_retries = 10
#retry_interval = 10

########################
## Handler Configuration
########################
#-----------------------
# Nova Fixed Handler
#-----------------------
[handler:nova_fixed]
#domain_id = <random uuid>
#notification_topics = monitor
#control_exchange = 'nova'
#format = '%(octet0)s-%(octet1)s-%(octet2)s-%(octet3)s.%(domain)s'

#------------------------
# Neutron Floating Handler
#------------------------
[handler:neutron_floatingip]
#domain_id = <random uuid>
#notification_topics = monitor
#control_exchange = 'neutron'
#format = '%(octet0)s-%(octet1)s-%(octet2)s-%(octet3)s.%(domain)s'


########################
## Backend Configuration
########################
#-----------------------
# Bind9 Backend
#-----------------------
[backend:bind9]
#rndc_host = 127.0.0.1
#rndc_port = 953
#rndc_config_file = /etc/rndc.conf
#rndc_key_file = /etc/rndc.key

#-----------------------
# Bind9+MySQL Backend
#-----------------------
[backend:mysqlbind9]
#database_connection = mysql://user:password@host/schema
#rndc_host = 127.0.0.1
#rndc_port = 953
#rndc_config_file = /etc/rndc.conf
#rndc_key_file = /etc/rndc.key
#write_database = True
#dns_server_type = master

#-----------------------
# PowerDNS Backend
#-----------------------
[backend:powerdns]
#database_connection = mysql://user:password@host/pdns
#connection_debug = 100
#connection_trace = False
#sqlite_synchronous = True
#idle_timeout = 3600
#max_retries = 10
#retry_interval = 10

#-----------------------
# NSD4Slave Backend
#-----------------------
[backend:nsd4slave]
#keyfile =/etc/nsd/nsd_control.key
#certfile = /etc/nsd/nsd_control.pem
#servers = 127.0.0.1,127.0.1.1:4242
#pattern = slave

#-----------------------
# Multi Backend
#-----------------------
[backend:multi]
#master = fake
#slave = fake
